@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sofia Pro";
  src: local("CHANGANUNITYPE-BOLD"),
    url("./assets/Fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  src: local("OPEN-SANS"),
    url("./assets/Fonts/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Source Sans 3";
  src: local("SOURCE-SANS-3"),
    url("./assets/Fonts/SourceSans3-SemiBold.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ecf8ed;
  scroll-behavior: smooth;
  color: black;
  font-family: "Sofia Pro";
}

.open-sans {
  font-family: "Open Sans";
}

.sourcesans {
  font-family: "Source Sans 3";
}

.header-text {
  @apply text-header md:text-[24px] lg:text-[42px] text-pridark;
  color: "#1C1C1C";
}

.body-text {
  @apply text-body md:text-[18px] lg:text-[24px];
  color: "#565656";
}

.card-header {
  @apply text-cardheader md:text-[18px] lg:text-[24px];
}

.card-body {
  @apply text-cardbody md:text-[14px] lg:text-[16px];
}

/* styles.css */
.custom-gradient {
  background: linear-gradient(90deg, #ecf8ed 0%, #319639 25%, #1e5c23 100%);
  padding: 1rem;
  text-align: center;
}

@media (max-width: 767px) {
  .custom-gradient {
    background: linear-gradient(180deg, #ecf8ed 10%, #319639 55%, #1e5c23 100%);
    padding: 0.5rem;
  }
}
